<aside>
	<div class="panel radius">
		<h3>Location</h3>
		<p class="text-left">
		<a href="https://www.evolbio.mpg.de/2169/en" target="_blank">Max Planck Institute for Evolutionary Biology</a>
		<br>
		<a href="https://theobio.evolbio.mpg.de/#home" target="_blank">Department of Theoretical Biology</a>
		<br>
			August-Thienemann-Str. 2
			<br>
			24306 Plön, Germany 
		</p>
		</p>
	</div>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1168.0566207669608!2d10.43288080038277!3d54.16035766050671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b267e3ad2deec9%3A0x2c7e30a2055f684e!2sMax-Planck-Institut%20f%C3%BCr%20Evolutionsbiologie!5e0!3m2!1sde!2sde!4v1740319935693!5m2!1sde!2sde" 
			width="300" 
			height="300" 
			style="border:0;" 
			allowfullscreen="" 
			loading="lazy" 
			referrerpolicy="no-referrer-when-downgrade">
	</iframe>

	<!-- <div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->

</aside>